root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.json]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.yaml]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 4

[makefile]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.c]
indent_style = tab
indent_size = 4

[*.h]
indent_style = tab
indent_size = 4
