[Unit]
Description=Capitive WiFi Portal
After=NetworkManager.service
Before=tzupdate.service hoobsd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hbs-portal

[Install]
WantedBy=multi-user.target
